.siteHeader {
    padding: 4px 16px;
}
.siteHeader > h1 {
    font-size: 34px;
}

.calender {
    background-color: white;
    margin: 16px;
    border-radius: 24px;
    color: #333;
}
.calender-header {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
}
.calender-header > time {
}
.calender-weekdays {
    display: flex;
}
.calender-weekdays > li {
    width: 14.2857%;
    text-align: center;
    height: 42px;
    line-height: 42px;
}
.calender-days {
    display: flex;
    flex-wrap: wrap;
}
.calender-days > li {
    width: 14.2857%;
    text-align: center;
    height: 42px;
    line-height: 42px;
}
.calender-days-today {
    background-color: #fed32c;
    border-radius: 8px;
}
.calender-days-selected {
    border-radius: 8px;
    outline: 1px solid #fed32c;
}
.calender-days-disabled {
    color: #999;
}
.calender-actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.calender-actions button {
    font-size: 12px;
    height: 24px;
    padding: 0 6px;
}
.calender-actions-left {
}
.calender-actions-left > button {
}
.calender-actions-right {
    display: flex;
}
.calender-actions-right > button {
}
